<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title></title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}
    </style>
    <div th:replace="fragments/navbar :: navbar_html"></div>
    <div class="container">
        <div th:replace="fragments/message :: message_html"></div>
    </div>
</head>
<body style="background-color:Blonde;">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create New Customer </h1>
            <div class="card-body">
                <form th:action="@{/customers}" th:object="${Custome}" method="POST">
                    <div class="form-group">
                        <label> Customer Name</label>
                        <input
                                type="text"
                                name="name"
                                th:field="*{name}"
                                class="form-control"
                                placeholder="Enter Customer Name"
                        />
                    </div>
                    <div class="form-group">
                        <label> Customer MobileNo</label>
                        <input
                                type="text"
                                name="mobileNo"
                                th:field="*{mobileNo}"
                                class="form-control"
                                placeholder="Enter Customer MobileNo"
                        />
                    </div>
                    <div class="form-group">
                        <label> Customer Email </label>
                        <input
                                type="text"
                                name="Email"
                                th:field="*{Email}"
                                class="form-control"
                                placeholder="Enter Customer Email"
                        />
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
    $(document).ready(function(){
$('#submit').prop('disabled',true);
});
$("#name,#mobileNo,#email").change(function(){
$('#submit').prop('disabled',false);
});

  $('#mobileNo').keypress(function(e) {
      var arr = [];
      var kk = e.which;

      for (i = 48; i < 57; i++)
          arr.push(i);

      if (!(arr.indexOf(kk)>=0))
          e.preventDefault();
          });

</script>
</html>