<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title></title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}
    </style>
    <div th:replace="fragments/navbar :: navbar_html"></div>
    <div class="container">
        <div th:replace="fragments/message :: message_html"></div>
    </div>
</head>
<body style="background-color:Blonde;">
<div class="container">
            <h1 class="text-center"> Create New Supplier </h1>
    </font></h4>
    <hr>
                <form th:action="@{/supplier}" th:object="${supplier}" method="POST">
                    <div class="row auto-align">
                        <div class="col">
                        <label> Supplier Name</label>
                        <input
                                type="text"
                                name="supplierName"
                                th:field="*{supplierName}"
                                class="form-control"
                        />
                        </div>
                    </div>
                    <br>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
</div>
</body>
</html>